{% extends 'app/template.html' %}
{% load crispy_forms_tags %}
{% block css %}
{% load static %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="h3 mb-4 text-gray-800">{{ form.instance.pk|yesno:"Modifier,Ajouter" }} un domaine de la santé</h1>
    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="row mb-3">
            <label for="id_name" class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
                {{ form.name|as_crispy_field }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="id_description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                {{ form.description|as_crispy_field }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="id_icon" class="col-sm-2 col-form-label">Icône</label>
            <div class="col-sm-10">
                {{ form.icon|as_crispy_field }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
