{% extends 'app/template.html' %}

{% block css %}
{% load static %}
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block script %}
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Gestion des domaines de la santé</h1>
  <a href="{% url 'domain_add' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-plus fa-sm text-white-50"></i> Ajouter un domaine
  </a>
</div>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Liste des domaines de la santé</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Icône</th>
            <th>Date d'ajout</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for domain in domains %}
          <tr>
            <td>{{ domain.name }}</td>
            <td>{{ domain.description }}</td>
            <td>
              {% if domain.icon %}
              <img src="{{ domain.icon.url }}" alt="{{ domain.name }}" width="50" height="50" />
              {% else %} Pas d'icône {% endif %}
            </td>
            <td>{{ domain.created_at|date:"l d F Y à H\hi\m\i\n" }}</td>
            <td class="text-center">
              <a href="{% url 'domain_edit' domain.pk %}" class="text-warning">
                <i class="fas fa-edit fa-lg"></i>
              </a>
              <a href="#" class="text-danger" data-toggle="modal" data-target="#deleteModal{{ domain.pk }}">
                <i class="fas fa-trash fa-lg"></i>
              </a>
              <a href="#" class="text-info" data-toggle="modal" data-target="#detailsModal{{ domain.pk }}">
                <i class="fas fa-info-circle fa-lg"></i>
              </a>
              
              <!-- Delete Modal -->
              <div class="modal fade" id="deleteModal{{ domain.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel">Confirmation de suppression</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Cette action est irréversible. Voulez-vous vraiment supprimer le domaine <strong>{{ domain.name }}</strong> ?
                      <br>
                      La suppression de ce domaine entraînera également la suppression des catégories suivantes :
                      <ul>
                        {% for category in domain.categories.all %}
                        <li><strong>{{ category.name }}</strong></li>
                        {% empty %}
                        Aucune catégorie associée
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                      <a href="{% url 'domain_delete' domain.pk %}" class="btn btn-danger">Supprimer</a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Details Modal -->
              <div class="modal fade" id="detailsModal{{ domain.pk }}" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="detailsModalLabel">Détails du domaine</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h5>Catégories associées</h5>
                      <ul>
                        {% for category in domain.categories.all %}
                        <li>{{ category.name }}</li>
                        {% empty %}
                        Aucune catégorie associée
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
